Linear Regression

In [8]:
# importing necessary libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [9]:
# reading the file
df = pd.read_csv('HousingData.csv')

In [10]:
# removing the rows that have null data
df = df.dropna()
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [11]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0

In [12]:
df.mean()

CRIM         3.690136
ZN          11.460660
INDUS       11.000863
CHAS         0.068528
NOX          0.553215
RM           6.280015
AGE         68.932741
DIS          3.805268
RAD          9.403553
TAX        406.431472
PTRATIO     18.537563
B          358.490939
LSTAT       12.769112
MEDV        22.359645
dtype: float64

In [13]:
df.std()

CRIM         9.202423
ZN          23.954082
INDUS        6.908364
CHAS         0.252971
NOX          0.113112
RM           0.697985
AGE         27.888705
DIS          2.098571
RAD          8.633451
TAX        168.312419
PTRATIO      2.166460
B           89.283295
LSTAT        7.308430
MEDV         9.142979
dtype: float64

In [15]:
#linear regression

#initial parameters 
w = np.zeros(13)
b = 0
t = 0 
itr = 10000
lr = 0.01
nrows = df.shape[0]
ncols = df.shape[1] - 1
x = df.iloc[:,0:13]
y = df["MEDV"]

origmean = x.mean()
origstd = x.std()
x = (x-x.mean())/x.std()

for t in range(itr):
    ypred = np.dot(x, w) + b
    error = ypred - df["MEDV"]
    mse = np.sum(error**2)/nrows
    
    wchange = (2/nrows)*np.dot(x.T, error)
    bchange = (2/nrows)*np.sum(error)

    w -= lr * wchange
    b -= lr* bchange

b = b - np.dot(origmean/origstd,w)
w = w/origstd

print("Weight:\n",w)
print("Bias: ",b)

Weight:
 CRIM       -0.097594
ZN          0.048905
INDUS       0.030379
CHAS        2.769379
NOX       -17.969023
RM          4.283252
AGE        -0.012991
DIS        -1.458510
RAD         0.285865
TAX        -0.013146
PTRATIO    -0.914582
B           0.009656
LSTAT      -0.423661
dtype: float64
Bias:  32.68004831484338

Steps taken until now:
1. Saw what linear regression is
2. Learnt about line of best fit and sum of squared residuals
3. Had some knowledge about python beforehand also watched a ten minute refresher on it. Did not pay much attention to the syntax and thought I would learn it along the way or refer to resources if I ran into the problem. 
4. Thought I would play two nested loops and try out many possible combinations of m and c and the one which gave the least sum of square residuals would choose that one (was only thinking in terms of linear regression until now, hadn't viewed the boston data set). Quickly scratched the idea as there was no guarantee the optimum value of m and c would be in the range I had taken and even then it would take too much time, didn't really feel like the right way.
5. Learnt that least value is found by differentiaton of sum of squared residuals.
6. Thought there would be a python library to do differentiation and started learning numpy and pandas.
7. As I came towards the end of the tutorial realised you can't do differentiation with these libraries. Looked for other libraries but again realised it wasn't the right way.
8. Tried to manually differnetiate on paper and got a formula for m and c but again thought this wasn't machine learning.
9. Knowing no other way just started reading articles on linear regression by programming and came across the term gradient descent.
10. Gradient descent and mean squared error were mentioned in pdf as well but I had thought I would pay attention to it later.
11. Read about gradient descent on geekforgeeks and finally realised how to go about it.
12. Finally viewed boston data set and saw it was multiple regression. Initally tried to do with loops but then realised had to use numpy, pandas properties to go about it
13. Revised numpy, pandas a bit and decided to refer to whatever was required from the video resources.
14. Derived formula for partial differential manually and implemented that in code.
15. Finally after alot of trial and error due to unfamiliarty with numpy, pandas wrote the code for linear regression.
16. Still did not work because of overflow error.
17. Normalised the values and also divided the change in w and b by the number of data points. Basically used mean square error instead of square error. Also changed the values of w and b to that of original data set using formula derived in copy. The code for linear regression worked.