Linear Regression

In [138]:
# importing necessary libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [139]:
# reading the file
df = pd.read_csv('HousingData.csv')

In [140]:
# removing the rows that have null data
df = df.dropna()
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [141]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0

In [143]:
#linear regression

#initial parameters 
w = np.zeros(13)
b = 0
t = 0 
itr = 1000
lr = 0.01

for t in range(itr):
    ypred = np.dot(df.iloc[:,0:13], w) + b
    error = ypred - df["MEDV"]
    
    dw = 2*np.dot(df.iloc[:, 0:13].T, error)
    db = 2*np.sum(error)

    w -= lr * dw
    b -= lr* db

C:\Users\HP\AppData\Local\Temp\ipykernel_17516\203538372.py:11: RuntimeWarning: overflow encountered in dot
  ypred = np.dot(df.iloc[:,0:13], w) + b
C:\Users\HP\AppData\Local\Temp\ipykernel_17516\203538372.py:14: RuntimeWarning: overflow encountered in dot
  dw = 2*np.dot(df.iloc[:, 0:13].T, error)
C:\Users\HP\AppData\Local\Temp\ipykernel_17516\203538372.py:14: RuntimeWarning: invalid value encountered in dot
  dw = 2*np.dot(df.iloc[:, 0:13].T, error)
C:\Users\HP\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\_methods.py:51: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

Steps taken until now:
1. Saw what linear regression is
2. Learnt about line of best fit and sum of squared residuals
3. Thought I would play two nested loops and try out many possible combinations of m and c and the one which gave the least sum of square residuals would choose that one (was only thinking in terms of linear regression until now, hadn't viewed the boston data set). Quickly scratched the idea as there was no guarantee the optimum value of m and c would be in the range I had taken and even then it would take too much time, didn't really feel like the right way.
4. Learnt that least value is found by differentiaton of sum of squared residuals.
5. Thought there would be a python library to do differentiation and started learning numpy and pandas.
6. As I came towards the end of the tutorial realised you can't do differentiation with these libraries. Looked for other libraries but again realised it wasn't the right way.
7. Tried to manually differnetiate on paper and got a formula for m and c but again thought this wasn't machine learning,
8. Knowing no other way just started reading articles on linear regression by programming and came across the term gradient descent.
9. Gradient descent and mean squared error were mentioned in pdf as well but i thought i would pay attention to it later.
10. Read about gradient descent on geekforgeeks and finally realised how to go about it.
11. finally viewed boston data set and saw it was multiple regression but realise had to use numpy, pandas properties to go about it
12. revised numpy, pandas.
13. dervied formula for partial differential manually and implemented that in code
14. finally after alot of trial and error due to unfamiliarty with numpy, pandas wrote the code for linear regression
15. stll did not work because values of the parameters and errors became too large
16. figurng out what to do right now